.main {
    max-width: 700px;
    height: auto;
    margin: 50px auto;

}

.headline {
    position: relative;
    
}

.headline img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    display: block;
}

.headline p {
    position: absolute; 
    bottom: 3%; 
    left: 0; 
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.26) 100%);
    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding: 20px;
    width: 100%; 
    z-index: 1; 
}

.content {
    padding: 20px;
    color: white;
    font-size: larger;
    border-bottom: 2px solid #444;
    margin-bottom: 50px;
}
